@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  height: 100%;
}

* { -webkit-font-smoothing: antialiased; }

@layer base {
  @font-face {
    font-family: 'Silkscreen';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Silkscreen/Silkscreen-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Cubic';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Cubic.woff) format('woff');
  }
  @font-face {
    font-family: 'PressStart';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/PrStart.ttf) format('truetype');
  }
  @font-face {
    font-family: 'PressStartK';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/prstartk.ttf) format('truetype');
  }
  @font-face {
    font-family: 'PerfectDOS';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/PerfectDOS.ttf) format('truetype');
  }
  @font-face {
    font-family: 'OpenSansPX';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/OpenSansPX.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Playfair';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf) format('truetype');
  }
  @font-face {
    font-family: 'NotoSansTC';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Noto_Sans_TC/NotoSansTC-VariableFont_wght.ttf) format('truetype');
  }
  @font-face {
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/Inter/InterVariable.woff2") format("woff2");
  }
  @font-face {
    font-family: InterVariable;
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/Inter/InterVariable-Italic.woff2") format("woff2");
  }
  @font-face {
    font-family: Roca;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/rocaone-rg-webfont.woff2") format("woff2");
  }
  @font-face {
    font-family: Iosevka;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Iosevka/Iosevka-Regular.woff2") format("woff2");
  }
}

@layer base {
  :root {
    --background: 230 11% 89%;
    --background-dark: 226, 44%, 80%; 
    --background-highlight: 229, 23%, 81%;
    --foreground: 222 55% 48%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 215 20.2% 65.1%;
 
    --radius: 0.5rem;
  }
 
  @media (prefers-color-scheme: dark) {
    :root {
      --background: 235 18.75% 12.55%;
      --background-dark: 240 15.38% 10.2%; 
      --background-highlight: 228 23% 21%; 
      --foreground: 229 73% 86%;
   
      --muted: 223 47% 11%;
      --muted-foreground: 215.4 16.3% 56.9%;
   
      --accent: 216 34% 17%;
      --accent-foreground: 210 40% 98%;
   
      --popover: 224 71% 4%;
      --popover-foreground: 215 20.2% 65.1%;
   
      --border: 216 34% 17%;
      --input: 216 34% 17%;
   
      --card: 224 71% 4%;
      --card-foreground: 213 31% 91%;
   
      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 1.2%;
   
      --secondary: 222.2 47.4% 11.2%;
      --secondary-foreground: 210 40% 98%;
   
      --destructive: 0 63% 31%;
      --destructive-foreground: 210 40% 98%;
   
      --ring: 216 34% 17%;
   
      --radius: 0.5rem;

      --green-1: 89 51% 61%;
      --green-2: 171 58% 65%;
      --green-3: 188 47% 48%;

      --grey: 217 19% 27%;
    }
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #000;
    border-bottom-color: #AAA;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

.loader-small {
    width: 24px;
    height: 24px;
    border: 2.5px solid #000;
    border-bottom-color: #AAA;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 
}
